@charset "UTF-8";
.footer {
	max-width: 100%;
	height: auto;
	width: auto\9;
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: normal;
	width: 1366px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 200px;	
}
