@charset "UTF-8";
.links {
	margin-left: 0px;
	margin-top: 150px;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 24px;
	font-style: italic;
	font-weight: 900;
	color: #000;
	line-height: normal;
	list-style-position: outside;
	list-style-type: disc;
	background-color: #FFF;
	background-image: none;
	text-decoration: underline;
}
