body { margin: 0; padding: 0; }

#blurred-image-container {

	width:100vw; 
	height:auto;
	display:block;
    padding:0;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:-5;
}



.img-src { 
    position: absolute;
	background: url(http://transfxband.com/images/hesgotagunREDbackgroundcropped.jpg);
	background-size: cover;
	top: -10%;
	bottom: 10%;
	left: -10%;
	right: 10%;
	width: 120%;
	height: 120%;
	
}


.img-src.blurred-image {
	opacity: 0;
	-webkit-filter:  brightness(0.7);
	-ms-filter:  brightness(0.7);
	-o-filter:  brightness(0.7);
	filter:  blur(20px) brightness(200.7);
	
	
	
}

.content {
	
	padding: 2vw;
	color: #000;
	text-align: left;
	transition: ease-out;
	transition: ease-out;
	z-index: 0; 
	right: 97%;
}

.centertext {
	padding:150px 50px;
    color:#fff;
    text-align:50vw;
	transition: ease-out;
	transition: ease-out;
	z-index: 0; 
	}

.avatar {
	position: fixed;
    height: 3vw;
    width: 3vw;
    border-radius: 100%;
    border: 5px solid #fff;
    right: 95vw;
	top:5px;
	z-index:6;
	display:block;
}

.logo {
	position: absolute;
	height: auto;
	width: 45vw;
	margin-left: 35vw;
	top: 80vw; 
	z-index: 2;   
	
	
	}/* CSS Document */

